:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(35, 35, 35, 0.87);
  background-color: var(--white-bg);
  --dark-blue: #223059;
  --med-blue: #424d8c;
  --med-green: #038c65;
  --bright-green: #03a66a;
  --white-bg: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
}

hr {
  width: 100%;
  opacity: 30%;
}

.visible {
  opacity: 1;
  transition: all 300ms ease-out;
  width: 92%;
}

.hidden {
  width: 92%;
  max-height: 0vh;
  opacity: 0;
  overflow: hidden;
  transition: all 300ms ease-out;
}

.site-title {
  margin: 10px 0;
  font-size: 3rem;
  font-weight: 900;
  letter-spacing: -2px;
  text-decoration: underline;
  text-decoration-thickness: 1rem;
  text-underline-offset: 0.1rem;
  text-decoration-color: var(--med-blue);
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
}

.input-side {
  box-sizing: border-box;
  padding: 0px 0px 0px 20px;
  display: flex;
  flex-direction: column;
}

.forms-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #424d8c;
  overflow: auto;
  border-radius: 10px;
  padding: 10px;
  max-height: 81vh;
  max-width: 500px;
}

.output-side {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
}

.contact-inputs,
.education-inputs,
.skills-inputs,
.prof-exp-inputs {
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid rgba(0, 0, 0, 0.094);
  border-radius: 0px 0px 10px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.094);
  padding: 20px;
  box-sizing: border-box;
}

.input-label,
.skills-input-label {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 0.9rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

.skills-input-wrapper {
  display: flex;
  gap: 10px;
}

.input-add-btn-wrapper {
  display: flex;
}

.add-btn {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-bg);
  background-color: var(--bright-green);
  border: none;
  padding: 3px 8px;
  width: fit-content;
  height: auto;
  border-radius: 10px;
}

.add-btn:hover {
  background-color: var(--med-green);
  cursor: pointer;
}

.edit-remove-btns {
  display: flex;
  gap: 3px;
}

.remove-btn,
.edit-btn {
  font-size: 1rem;
  font-weight: 700;
  display: flex;
  align-items: center;
  color: var(--white-bg);
  background-color: var(--dark-blue);
  border: none;
  border-radius: 5px;
  padding: 3px 3px;
  max-height: 20px;
}

.add-skill-btn:hover,
.remove-btn:hover,
.edit-btn:hover {
  background-color: var(--med-green);
  cursor: pointer;
}

.input-wrapper input,
.skills-input-wrapper input {
  background-color: #2230591e;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.094);
  border: none;
  height: 1.5rem;
  border-radius: 10px;
  padding: 2px 10px;
}

.skills-input {
  flex: 1;
}

.header2 {
  color: var(--white-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.collapsible-input {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: -1px;
  background-color: var(--bright-green);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px 0px 0px;
  width: 90%;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.304);
  z-index: 1;
}

.collapsible-input:hover {
  background-color: hsl(158, 96%, 38%);
  cursor: pointer;
}

.skills-input {
  background-color: var(--med-green);
}

.skill-list-item {
  display: flex;
  align-items: center;
  color: var(--white-bg);
  padding: 5px 10px;
  background-color: var(--med-blue);
  border-radius: 10px;
  width: fit-content;
  height: 30px;
  gap: 20px;
}

.skill-list-item:hover {
  background-color: hsl(231, 36%, 50%);
  cursor: pointer;
}

.skill-name {
  font-weight: 600;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.expand-button {
  color: var(--bright-green);
  display: flex;
  font-size: 1.6rem;
  font-weight: 900;
  background-color: var(--white-bg);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
}

.expand-button:hover {
  cursor: pointer;
}

.edu-container,
.profEx-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.edu-item,
.profEx-item {
  padding: 10px 15px;
  background-color: #2230591e;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  line-height: 1rem;
  gap: 5px;
}

.profEx-responsibilities {
  font-size: 0.8rem;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fefefe;
  border-radius: 10px;
}

.edu-degree,
.profEx-title {
  font-weight: 800;
  font-size: 1.2rem;
}

.edu-institution,
.edu-city-state,
.profEx-entry {
  font-size: 0.8rem;
}

.edu-start-end,
.profEx-start-end {
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

.edu-entry,
.profEx-entry {
  margin: 0;
}

.edu-start,
.edu-end,
.profEx-start,
.profEx-end {
  font-weight: 800;
  color: var(--white-bg);
  background-color: var(--dark-blue);
  padding: 0px 5px;
  border-radius: 5px;
}

.edu-degree-delete-btn {
  display: flex;
  justify-content: space-between;
}

.profSummary textarea {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.8rem;
  height: 100px;
  resize: vertical;
  background-color: #2230591e;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.094);
  border: none;
  border-radius: 10px;
  padding: 2px 10px;
}

.bullet-point-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.bullet-point-wrapper input {
  flex: 1;
}

.bullet-point-container {
  display: flex;
  gap: 2px;
  flex-direction: column;
  font-size: 0.8rem;
  margin-bottom: 10px;
}

.bullet-point-entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white-bg);
  border-radius: 10px;
  padding: 5px 10px;
}

.bullet-point-entry:hover {
  background-color: var(--med-blue);
  color: var(--white-bg);
  cursor: pointer;
}
