:root {
  --font-scale: calc(2vh);
  --padding-scale: calc(2vh);
}

.clear-data-btn,
.download-btn {
  font-size: calc(var(--font-scale) * 1);
  padding: 1rem;
  background-color: var(--bright-green);
  font-weight: 700;
  color: var(--white-bg);
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  max-width: 500px;
}

.clear-data-btn:hover,
.download-btn:hover {
  background-color: hsl(158, 96%, 38%);
  cursor: pointer;
}

.paper-container {
  font-size: calc(var(--font-scale) * 0.6);
  background-color: rgb(255, 255, 255);
  margin: 30px auto;
  aspect-ratio: 8.5 / 11;
  max-height: 80vh;
  min-height: 80vh;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 1px 6px 20px rgba(79, 79, 79, 0.21);
}

.contact-left {
  color: var(--white-bg);
  background-color: var(--med-blue);
  padding: calc(var(--padding-scale));
  display: grid;
  font-size: calc(var(--font-scale) * 0.6);
}

.resume-name {
  font-size: calc(var(--font-scale) * 1);
  font-weight: 900;
}

.d-skills-container {
  grid-area: 1 / 3/ 2 / 4;
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--padding-scale) * 0.3);
}

.d-skills-h4 {
  font-size: calc(var(--font-scale) * 0.75);
  font-weight: 800;
}

.d-skill-list-item {
  display: flex;
  align-items: center;
  font-weight: 700;
  background-color: var(--bright-green);
  padding: calc(var(--padding-scale) * 0.3);
  border-radius: 8px;
  height: calc(var(--padding-scale) * 0.5);
}

/* RIGHT SIDE */

.resume-right {
  padding: calc(var(--padding-scale));
  display: grid;
  gap: 3vh;
}

.header-h4 {
  border-bottom: calc(var(--font-scale) * 0.1) solid var(--med-blue);
  font-size: calc(var(--font-scale) * 0.8);
  font-weight: 800;
  margin-bottom: 1vh;
}

.prof-sum-content {
  font-size: calc(var(--font-scale) * 0.5);
}

.education-content {
  display: flex;
  flex-direction: column;
  gap: calc(var(--padding-scale) * 0.5);
}

.d-profEx-entry {
  display: grid;
  grid-template-rows: repeat(3, auto);
}

.d-row-1 {
  display: flex;
  justify-content: space-between;
}

.d-row-1-left {
  font-size: calc(var(--font-scale) * 0.6);
  font-weight: 800;
}

.d-row-1-right {
  font-size: calc(var(--font-scale) * 0.6);
}

.d-row-2 {
  font-size: calc(var(--font-scale) * 0.6);
}

.d-bullet-item {
  margin: calc(var(--font-scale) * 0.15);
  padding: 0 calc(var(--font-scale) * 0.6);
  font-size: calc(var(--font-scale) * 0.5);
}
